@charset "utf-8";
/* CSS Document */

* {
  transition: all .03s ease-in-out;
  box-sizing:border-box;
  border-collapse:collapse;
}

html {
  scroll-behavior: smooth;
}

body,td,th,p{
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	color: #fff;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

section {
  display: flex;
  flex-wrap: wrap;
}

ul, li {
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

a {
	color: white;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  margin: 0;
  text-transform: uppercase;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, {
	display: block;
}

#footer {

  background-color: #12191b;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  border-top: 3px solid #fff;
}
/* ====================== Navigation ====================== */
nav {
  height: 53px;
  background: #fff;
  border-bottom: 1px solid #ddddea;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
}

nav .logo {
  margin: 7px 20px;
  height: 39px;
}

nav h1 {
  color: #12191c;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 20px 20px 16px 20px;
  text-transform: uppercase;
  line-height: 1;
}

nav h1 a {
  color: #000;
  font-size: 14pt;
  font-weight: 200;
}
#breadcrumb {
    padding: 5px 20px 7px;
    list-style: none;
    background-color: #12191b;
    font-size: 17px;
    margin: 0;
    text-decoration: none;
    color: #aaa;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: #666;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #e80b7b;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #fa2d9d;
}
/* ====================== Map ====================== */

#map {
  background-color: #eaeaea;
  flex-grow: 1;
  min-width: 617px;
}

.leaflet-control-attribution.leaflet-control {
  font-size: 6px !important;
}

/* ====================== Restaurant Filtering ====================== */
.header-wrapper {
  position: absolute;
  z-index: 999999;
  height: 56px;
  max-width: 400px;
  width: 100%;
  background-color: transparent;
  text-align: right;
  right: 0;
}

.filter-options {
  font-size: 12px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filterResults {
  margin-right: 10px;
  font-size: 12px;
  color: #000;
}

select {
  font-size: 12px;
  font-weight: 700;
  color: #12191b;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 120px;
  max-width: 100%;
  box-sizing: border-box;
  margin-right: 10px;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #12191b;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2312191b%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #e80b7b;
}
select:focus {
  border-color: #e80b7b;
  /*box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);*/
  /*box-shadow: 0 0 0 3px -moz-mac-focusring;*/
  color: #000;
  outline: none;
}
select option {
  font-weight:normal;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  border-top: 3px solid #fff;
  background-color: transparent;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 408px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 408px;
  height: 89vh;
  overflow: auto;
  color: #fff;
  position:relative;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}
#restaurants-list li {
  background-color: transparent;
  overflow: hidden;
  margin: 2px;
  align-items: flex-start;
  flex-grow: 1;
}

#restaurants-list li:hover {
  background-color: #ccca;
  overflow: visible;
}

#restaurants-list li:hover .entry-box a {
  border-bottom: 2px solid white;
}

#restaurants-list .restaurant-wrapper {
    width: 200px;
    height: 200px;
    overflow:hidden;
    position:relative;
    cursor: pointer;
    display: block;
}

#restaurants-list .gradient-mask {
    /*background: linear-gradient(135deg, rgba(70,159,219,.6) 0%,rgba(117,125,198,.6) 47%,rgba(89,81,198,.6) 100%);*/
    position: relative;
    width: 100%;
    height: 100%;
}

#restaurants-list li .restaurant-wrapper .restaurant-img {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  object-fit: cover;
  height: 100%;
  z-index: -1;
  display: flex;
  filter: contrast(70%);
}

#restaurants-list li .entry-box {
  bottom: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px;
}

#restaurants-list li .entry-box h2 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1;
  margin: 10px 0 10px;
  text-transform: uppercase;
}
#restaurants-list li .entry-box p {
  margin: 0;
  font-size: 11px;
  line-height: 1;
}
#restaurants-list li .entry-box a {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 0px solid white;

}

#restaurants-list li .entry-box .neighborhood-label {
  background-color: #e80b7b;
  color: #fff;
  display: inline-block;
  font-size: 8pt;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 5px 8px 4px;
  text-align: center;
  text-transform: uppercase;
}

#restaurants-list img {
  z-index: 1;
  object-fit: cover;
  height: auto;
  width: 100%;
}


/* ====================== Restaurant Details ====================== */
/*.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}*/

.restaurant-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: auto;
}

.inside {
  background-color: #12191b;
}

.info-wrapper {
  padding: 0 40px 0 40px;
}

.inside #restaurants-list {
    border-top: none;
}

#restaurant-img {
	width: 50%;
  filter: contrast(70%);
}
#restaurant-address {
  font-size: 10pt;
  line-height: -0.11em;
  color: #eaeaea;
}
#restaurant-cuisine {
  background-color: #070b0c;
  color: #ddd;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 3px 0 2px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container, #reviews-container {
}

#reviews-container {
  padding: 30px 0 0 0;
}
#reviews-container h2 {
  color: #eaeaea;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  padding-bottom: 10px;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #243035;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 30px 30px;
  position: relative;
  border-radius: 6px;
}

.inside #restaurants-list li:hover {
    background-color: #243035;
}

#reviews-list li p {
  margin: 0 0 0px;
}
#restaurant-hours td {
  color: #aaa;
}

#restaurant-img-mobile {
    display: none;
}

.review-comments {
  padding-top: 30px;
}

span {
  color: #e80d7b;
  display: inline-block;
  width: 45px;
}

/* ====================== Breakpoints ====================== */

@media screen and (max-width: 1024px) {

  #restaurants-list {
    height: unset;
    width: 100%;
    flex-basis: unset;
    flex-wrap: wrap;
    order: 3;
  }

  #restaurants-list .restaurant-wrapper {
    min-width: 140px;
    /*max-width: 200px;*/
    width: auto;
  }

  #restaurants-list li {
    width: 20%;
  }

  .inside #restaurants-list li {
    width: 100%;
  }

  #map {
    width: unset;
    min-width: unset;
    min-height: 41vh;
    order: 2;
  }

  .mobile-img-container {
    order: 1;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

  }

  #restaurant-img-mobile {
    display: block;
    flex-shrink: 0;
    min-width: 100%;
    max-height: 41vh;
    filter: contrast(50%);
  }

  #restaurant-img {
    display:none;
  }
}

@media screen and (max-width: 580px) {

  nav {
    height: 90px;
    background: #fff;
    border-bottom: 1px solid #ddddea;
  }

  nav h1 {
    font-size: 14px;
    letter-spacing: 2px;
  }

  nav .logo {
    margin: 24px 0px 24px 20px;
    height: 39px;
  }

  .inside nav {
    height: 53px;
    background: #fff;
    border-bottom: 1px solid #ddddea;
  }

  .inside nav .logo {
    margin: 7px 0 7px 20px;
    height: 39px;
  }


  #restaurants-list {
    min-width: unset;
  }

  #restaurants-list li {
    width: 40%;
  }

  .header-wrapper {
    max-width: 200px;
  }

  select {
    margin-top: 10px;
    padding: .4em 1em .3em .6em;
  }



}